<h1>Tick Data</h1>

<div *ngIf="showData">
	<h3>Tickers</h3>
	<div style="height: 100%; width: 100%; float: left;padding-bottom: 50px;font-size: 12px">
		<div class="row">
			<div class="table table-bordered table-color detail-table mg-bottom30">
				<table class="table-bordered table-color-blue no-mg">
					<tbody>
					<tr *ngFor="let row of tickers; let rowIndex=index">
						<td>{{row.Source}}</td>
						<td>{{row.Symbol}}</td>
						<td>{{row.Securtity}}</td>
						<td>{{row.Sector}}</td>
						<td>{{row.SubIndustry}}</td>

					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
