<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="Securities" value="C:\Users\Anthony Johnson\hsbc_codeproject\SecuritiesLoader\Data\securities.json"></add>
		<add key="ALICE" value="C:\Users\Anthony Johnson\hsbc_codeproject\SecuritiesLoader\Data\StocksPrices-ALICE.csv"></add>
		<add key="BOB" value="C:\Users\Anthony Johnson\hsbc_codeproject\SecuritiesLoader\Data\StocksPrices-BOB.xlsx"></add>
		<add key="CHARLIE" value="C:\Users\Anthony Johnson\hsbc_codeproject\SecuritiesLoader\Data\StocksPrices-CHARLIE.xml"></add>
	</appSettings>
	
  <runtime>
	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
          <dependentAssembly>
	
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
	
          </dependentAssembly>
	
      </assemblyBinding>
	
  </runtime>
</configuration>